[submodule "thirdparty/diffusers"]
	path = apps/api/thirdparty/diffusers
	url = https://github.com/huggingface/diffusers.git
[submodule "thirdparty/llama.cpp"]
	path = apps/api/thirdparty/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "thirdparty/GroundingDINO"]
	path = apps/api/thirdparty/GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "thirdparty/LongCat-Video"]
	path = apps/api/thirdparty/LongCat-Video
	url = https://github.com/meituan-longcat/LongCat-Video.git
[submodule "thirdparty/VideoX-Fun"]
	path = apps/api/thirdparty/VideoX-Fun
	url = https://github.com/aigc-apps/VideoX-Fun.git
[submodule "clut-filters"]
	path = apps/app/packages/renderer/public/filters
	url = https://github.com/totokunda/clut-filters.git