[submodule "thirdparty/diffusers"]
	path = apps/api/thirdparty/diffusers
	url = https://github.com/huggingface/diffusers.git
[submodule "thirdparty/llama.cpp"]
	path = apps/api/thirdparty/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "clut-filters"]
	path = apps/app/packages/renderer/public/filters
	url = https://github.com/totokunda/clut-filters.git