[submodule "thirdparty/diffusers"]
	path = thirdparty/diffusers
	url = https://github.com/huggingface/diffusers.git
[submodule "thirdparty/llama.cpp"]
	path = thirdparty/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "thirdparty/GroundingDINO"]
	path = thirdparty/GroundingDINO
	url = https://github.com/IDEA-Research/GroundingDINO.git
[submodule "thirdparty/LongCat-Video"]
	path = thirdparty/LongCat-Video
	url = https://github.com/meituan-longcat/LongCat-Video.git
[submodule "thirdparty/VideoX-Fun"]
	path = thirdparty/VideoX-Fun
	url = https://github.com/aigc-apps/VideoX-Fun.git
